@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './others/index.css';
@import './vendors/index.css';
@import './docs/index.css';

@import "leaflet/dist/leaflet.css";

#search .container-result {
    display: none;
}
#search:has(#inputsearch:focus) .container-result {
    display: block;
}

#search .container-result:hover {
    display: block;
}

#search *:focus {
    display: block !important;
}
#search .container-result:has(*:focus) {
    display: block !important;
}

#search .container-result:has(.item-result:focus) {
    display: block;
}
.menuhome .submenu .submenu {
    left: 100%;
    translate: 0 -50%;
}
.menulink:hover .submenu.hidden {
    display: block;
}
.menulink:hover .submenu.hidden:not(&:hover) .submenu.hidden {
    display: none;
}
.menulink:hover .submenu.hidden li:hover button + .submenu.hidden {
    display: block;
}

.leaflet-container {
    z-index: 5;
}

.table-nowrap tr td:last-child {
    white-space: nowrap;
}
