@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');
@import './tailwind/index.css';
@import './components/index.css';
@import './template/index.css';
@import './others/index.css';
@import './vendors/index.css';
@import './docs/index.css';

.menuhome .submenu .submenu {
    left: 100%;
    translate: 0 -50%;
}
.menuhome:hover .submenu:not(&:hover) .submenu {
    display: none;
}
.menuhome:hover .submenu:hover li:hover button + .submenu {
    display: block;
}
